 /*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a {
	padding-left: 8px !important;
    padding-right: 8px !important;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-family: 'Viga', sans-serif !important;
    background-color: #fff;
    border-radius: 100px;
}

a:hover {
	font-weight: 600;
	color: #e67e22;
}
    
.note {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 40%;
  width: 100%;
  padding: 0;
  margin: 0;
background-image:url(websitebackground.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

.center {
    width: 600px;
    margin: 0px auto;
	text-align: center;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
}

h1 {
	font-family: 'Viga', sans-serif;
	font-size: 40px;
	margin: 10px auto 0px auto;
	color: rgb(10, 10, 10); 
	padding-top: 40px;
}
h2 {
	font-family: 'Viga', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	color: rgb(10, 10, 10); 
    padding: 0px 0px;
    margin: 10px auto 25px auto;
h3 {
    font-family: 'Viga', sans-serif;
	font-size: 20px;
    line-height: 1.4;
	color: rgb(10, 10, 10); 
    padding: 0px 0px;
    margin: 10px auto 25px auto;
}

p {
    font-family: 'Viga', sans-serif;
    line-height: 1.6;
	color: rgb(10, 10, 10); 
}



.topnav {
	overflow: hidden;
	background-color: #333;
	padding-left: 10px;
  }
  
  .topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }


.link {
	padding-top: 100px !important;
}

